html {
  --border-color-light: oklch(45% 4% 145);
  --border-color-dark: oklch(65% 4% 145);
  --color-accent-light-hover: oklch(90% 0.075 145);
  --color-accent-dark-hover: oklch(40% 0.075 145);
  --background-color-light: rgb(255, 255, 255);
  --background-color-dark: rgb(0, 0, 0);
  --color-accent: oklch(63% 0.16 145);
  accent-color: var(--color-accent);
}

body {
  position: relative;
  max-width: 100ch;
  margin-inline: auto;
  padding: 30px 30px;
  background-color: var(--background-color-light);
  color: black
}

nav {
  display: flex;
  margin-top: 3rem;
}

h1{
  font-size: 3em;
  line-height: 1.1;
  text-wrap: balance;
}
h2{
  font-size: 2em;
  line-height: 1.1;
  text-wrap: balance;
}
h3{
  font-size: 1.5em;
  line-height: 1.1;
  text-wrap: balance;
}

a{
  color: oklch(63% 0.12 145);
}

a:hover{
  color: oklch(45% 0.12 145)
}

.top-bar {
  flex: 1;
  text-decoration: none;
  font: inherit;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color-light);
}

.top-bar:hover {
  border-bottom-width: 0.4em;
  border-bottom-color: var(--color-accent);
  background-color: var(--color-accent-light-hover);
}

form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  input{
    font: inherit;
  }
  textarea{
    font: inherit;
  }
}
form button{
  font: inherit;
  display: grid;
  grid-template-columns: auto;
  grid-column: 1 / -1;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  & article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
    margin-left: 5px;
    margin-right: 5px;
  }
  & h2{
    margin: 0;
  }
}

.current {
  flex: 1;
  border-bottom-width: 0.4em;
  border-bottom-color: var(--border-color-light);
}

.theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: .8rem;
  font-family: inherit;
  z-index: 1000;
}

[data-theme='dark'] a {
  font: inherit;
  color: rgb(255, 255, 255);
}

[data-theme='dark'] body {
  background-color: var(--background-color-dark);
  color: white;
}

[data-theme='dark'] .top-bar:hover {
  background-color: var(--color-accent-dark-hover)
}