html {
  --border-color-light: oklch(45% 4% 145);
  --border-color-dark: oklch(65% 4% 145);
  --color-accent-light-hover: oklch(90% 0.075 145);
  --color-accent-dark-hover: oklch(40% 0.075 145);
  --background-color-light: rgb(255, 255, 255);
  --background-color-dark: rgb(0, 0, 0);
  --color-accent: oklch(63% 0.16 145);
  accent-color: var(--color-accent);
}

body {
  position: relative;
  max-width: 100ch;
  margin-inline: auto;
  padding: 0 30px;
  background-color: var(--background-color-light);
  color: black
}

nav {
  display: flex;
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color-light);
}

a:hover {
  border-bottom-width: 0.4em;
  border-bottom-color: var(--color-accent);
  background-color: var(--color-accent-light-hover);
}

.current {
  flex: 1;
  border-bottom-width: 0.4em;
  border-bottom-color: var(--border-color-light);
}

.theme-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: .8rem;
  font-family: inherit;
}

[data-theme='dark'] body {
  background-color: var(--background-color-dark);
  color: white;
}

[data-theme='dark'] a:hover {
  background-color: var(--color-accent-dark-hover)
}